image: registry-cybermiles.skymizer.com/cybermiles/environment:ci

stages:
  - lint
  - build
  - test
  - deploy
  - regression

before_script:
  # download latest libeni.so
  - mkdir -p ~/.travis/eni/lib
  - curl -vL -o ~/.travis/eni/lib/libeni.so --header "Private-Token:"$PRIVATE_TOKEN "https://git-cybermiles.skymizer.com/cybermiles/libeni/-/jobs/artifacts/master/raw/libeni.so?job=deploy"
  - file ~/.travis/eni/lib/libeni.so

lint:
  stage: lint
  script:
    # lint command reference: https://github.com/ethereum/go-ethereum/blob/master/build/ci.go
    - build/env.sh go get gopkg.in/alecthomas/gometalinter.v2
    - build/env.sh build/_workspace/bin/gometalinter.v2 --install
    - build/env.sh build/_workspace/bin/gometalinter.v2 --vendor --tests --disable-all --enable=goimports --enable=varcheck --enable=vet --enable=gofmt --enable=misspell --enable=goconst --min-occurrences=6 ./core/vm/...

build:
  stage: build
  cache:
    paths:
      - build
    policy: push
  script:
    - make all

test:
  stage: test
  cache:
    paths:
      - build
    policy: pull
  script:
    # only test core/vm and its sub-packages
    - export CGO_LDFLAGS="-L$HOME/.travis/eni/lib -Wl,-rpath,$HOME/.travis/eni/lib"
    - export CGO_LDFLAGS_ALLOW="-I.*"
    - build/env.sh go run build/ci.go test -coverage ./core/vm/...

deploy:
  stage: deploy
  cache:
    paths:
      - build
    policy: pull
  script:
    - cp build/bin/evm .
    - cp build/bin/geth .
  artifacts:
    paths:
      - evm
      - geth
    expire_in: 1 month

regression:
  stage: regression
  script:
    - curl -s -X POST -F "token=$REGRESSION_TRIGGER_TOKEN" -F ref=master https://git-cybermiles.skymizer.com/api/v4/projects/14/trigger/pipeline | jq .
